/*header.css*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.header {
    background-color: #F2F6F6;
    border-bottom: 1px solid #F2F6F6;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: space-between; /* Align items to the left and right */
    align-items: center; /* Vertically center items */
}
  
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  
.menu-header {
    margin-left: auto;
}

.menu-logo {
    display: flex; /* Make the logo container a flexbox */
    align-items: center; /* Vertically center logo */
}

.menu-logo img {
  width: 280px; /* Adjust the width of the logo */
  height: auto; /* Maintain aspect ratio */
  margin-right: 60px;
}
  

.main-nav {
    list-style: none;
    display: flex;
    padding-top: 25px;
    
}
  
  .main-nav li {
    margin-right: 50px;
    font-weight: bold;
  }
  
  .main-nav li a {
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    display: block;
  }
  
  .main-nav li:hover a {
    color: #007bff;
  }
  
  .has-submenu {
    position: relative;
    display: flex;
  }
  
  .has-submenu .fas.fa-chevron-down {
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .has-submenu:hover .fas.fa-chevron-down {
    transform: rotate(90deg);
  }
  
  .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #fff;
    list-style: none;
    padding: 0;
    display: none;
  }
  
  .has-submenu:hover .submenu {
    display: block;
  }
  
  .submenu li {
    margin: 0;
    padding: 10px 15px;
    
  }
  
  .submenu li a {
    color: #000;
    text-decoration: none;
    display: block;
  }
  
  .submenu li:hover a {
    background-color: #f1f1f1;
  }
  
  .searchbar {
    position: relative;
  }
  
  .searchbar i {
    color: #333;
    cursor: pointer;
  }
  
  .togglesearch {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    display: none;
    width: 100%;
    padding: 10px;
  }
  
  .searchbar:hover .togglesearch {
    display: block;
  }
  
  .input-group {
    width: 100%;
  }
  
  .form-control {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
  }
  
  .main-menu-wrapper{
    display: flex;
  }
  
  /* Add styles for tablets (landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
      width: 90%;
      padding: 0 15px;
    }
  
    .main-nav {
      padding-left: 15px;
    }
  }
  
  /* Add styles for tablets (portrait) */
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .container {
      width: 90%;
      padding: 0 15px;
    }
  
    .main-nav {
      padding-left: 15px;
    }
  
    .main-nav li {
      margin-right: 20px;
    }
  }
  
  /* Add styles for mobile devices */
  @media only screen and (max-width: 480px) {
    .container {
      width: 100%;
      padding: 0 10px;
    }
  
    .main-nav {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 0;
    }
  
    .main-nav li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .has-submenu {
      width: 100%;
    }
  
    .submenu {
      width: 100%;
      left: initial;
      top: initial;
      position: static;
      display: none;
    }
  
    .has-submenu:hover .submenu {
      display: block;
      position: static;
      margin-top: 10px;
    }
  }