.footer {
    background-color: #F2F6F6;
  
}

.footer-top {
    margin-top: 20px; /* Adjust the top margin as needed */
    margin-bottom: 20px; /* Optional: Adjust the bottom margin */
}

/* Adjust the spacing between columns */
.footer-widget {
    margin-bottom: 20px; /* Add some bottom margin to separate each widget */
}

.footer-widget li {
    list-style: none;
    text-decoration: none;
    
}

.footer-title {
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold;
    margin-bottom: 25px;
}

.footer-menu a {
    padding-left: 0; /* Remove default padding from the ul element */
    list-style: none; /* Remove default list styles */
    text-decoration: none;
    color: black;
}

.footer-menu li {
    margin-bottom: 10px; /* Adjust the spacing between list items */
    
}

.footer-contact-info p {
    margin-bottom: 10px; /* Adjust the spacing between contact info items */
}

.footer-bottom {
    padding-top: 20px; /* Adjust the top padding of the footer bottom */
    padding-bottom: 20px; /* Adjust the bottom padding of the footer bottom */
}

.policy-menu a{
    list-style: none;
    text-align: right; 
    text-decoration: none;
    color: black;
}

.policy-menu {
    margin-right: 20px;
    justify-content: space-between;
}

.policy-link:last-child {
    margin-right: 0; /* Remove margin from the last policy menu item */
}

.social-icon {
    margin-right: 20px;
}


